.container{
    text-align: center;
}
.calendar-area{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
#eventButton{
    padding: 15px;
}
.modal-label{
    font-size: larger;
    margin: 20px 0px 5px 0px;
    font-weight: bold;
}