.container{
    text-align: center;
}
.calendar-area{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.button{
    padding: 10px 10px 0px 10px;
}
.modal-label{
    font-size: larger;
    margin: 20px 0px 5px 0px;
    font-weight: bold;
}
.time{
    color: rgb(156, 156, 156);
}
.edit-area{
    height: 300px;
    width: 100%;
    background-color: red;
}